
body > * {
  border: 1px solid red;
}

*, *:after, *:before {
  box-sizing: border-box;
}

/*************************************
  Header with hero and navigation bar
**************************************/

header {
  height: 700px;
}

nav {
  position: fixed;
  background-color: rgba(0, 255, 255, 0.425);
  height: 60px;
  width: 100%;
  top: 0;
}

.hero {
  display: flex;
  padding-top: 52px;
  height: 100%;
  margin-top: 1px;
}

.main-hero{
  flex: 0 1 65%;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 0, 255, 0.432);
}

.side-hero {
  flex: 0 1 35%;
  display:flex;
  flex-direction: column;
}

.side-hero-each {
  flex: 0 1 50%;
  border: 1px solid rgba(0, 0, 255, 0.432);
  width: 100%;
  margin-bottom: 8px;
}

/******** 
  AD Banner
*********/

.ad {
  height: 250px;
  width: 900px;
  margin: 20px auto;
}

/*****************************************
Main container with major content sections
******************************************/

.main-container {
  height: auto;
  margin: 0 auto;
  max-width: 1050px;
  border: 2px dashed orange;
}

.main-container > * {
  border: 1px solid blue;
}

.latest-news {
  height:500px;
  display: flex;
  flex-wrap: wrap;
}

.article {
  flex: 0 1 25%;
  border: 1px dotted purple;
}

.latest-funding {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.funds {
  flex: 0 1 25%;
  border: 1px dotted rgb(36, 128, 0);
}

.topics {
  height: 1800px;
  display:flex;
  flex-wrap: wrap;
}

.topic {
  flex: 0 1 33.33%;
  border: 1px dotted rgb(0, 109, 128);
}

.latest-deals {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}

.deal {
  flex: 0 1 25%;
  border: 1px dotted rgb(128, 77, 0);

}

footer {
  height: 280px;
  display: flex;
  flex-direction: column;
}

.social {
  flex: 0 1 60%;
  border: 1px dotted purple;
}

.copyright {
  flex: 0 1 40%;
  border: 1px dotted rgb(0, 128, 0);
}
