
body > * {
  border: 1px solid red;
}

*, *:after, *:before {
  box-sizing: border-box;
}

/*************************************
  Header with hero and navigation bar
**************************************/

header {
  height: 700px;
}

nav {
  position: fixed;
  background-color: rgba(0, 255, 255, 0.425);
  height: 60px;
  width: 100%;
  top: 0;
}

.hero {
  display: flex;
  padding-top: 52px;
  height: 100%;
  margin-top: 1px;
}

.main-hero{
  flex: 0 1 65%;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 0, 255, 0.432);
  background-image: linear-gradient(to left top, rgb(0, 0, 0), rgba(255, 0, 0, 0.534)), url(images/hero/main-hero.png);
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.main-hero h1 {
  float:left;
  font-size: 150px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  top: -25px;
}

.main-hero h5 {
  position: relative;
  float: right;
  right: 15px;
  top: 15px;
  font-size: 14px;
}

.main-hero:hover {
  background-image: linear-gradient(to left top, rgb(0, 0, 0), rgba(255, 0, 0, 0.466)), url(images/hero/main-hero.png);
  cursor: pointer;
}

.side-hero {
  flex: 0 1 35%;
  display:flex;
  flex-direction: column;
}

.side-hero-each {
  flex: 0 1 50%;
  width: 100%;
  margin-bottom: 8px;
}

.side-hero-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero/sidehero1.png);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.side-hero-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero/sidehero2.png);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.side-hero-1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/hero/sidehero1.png);
  cursor: pointer;
}

.side-hero-2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/hero/sidehero2.png);
  cursor: pointer;
}

/******** 
  AD Banner
*********/

.ad {
  height: 250px;
  width: 900px;
  margin: 20px auto;
}

/*****************************************
Main container with major content sections
******************************************/

.main-container {
  height: auto;
  margin: 0 auto;
  max-width: 1050px;
  border: 2px dashed orange;
}

.main-container > * {
  border: 1px solid blue;
}

/* Latest news */

.latest-news {
  height:500px;
  display: flex;
  flex-wrap: wrap;
}

.article {
  flex: 0 1 25%;
  padding: 10px;
}

.article h4 {
  padding: 8px 0;
  margin: 0;
}

.article small {
  font-size: 14px;
  color: gray;
}

.art-img {
  height: 60%;
}


.art-img1 {
  background-image: url(images/latest/latest1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.art-img2 {
  background-image: url(images/latest/latest2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.art-img3 {
  background-image: url(images/latest/latest3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.art-img4 {
  background-image: url(images/latest/latest4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.art-img5 {
  background-image: url(images/latest/latest5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.art-img6 {
  background-image: url(images/latest/latest6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.art-img7 {
  background-image: url(images/latest/latest7.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.art-img8 {
  background-image: url(images/latest/latest8.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.latest-funding {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.funds {
  flex: 0 1 25%;
  border: 1px dotted rgb(36, 128, 0);
}

.topics {
  height: 1800px;
  display:flex;
  flex-wrap: wrap;
}

.topic {
  flex: 0 1 33.33%;
  border: 1px dotted rgb(0, 109, 128);
}

.latest-deals {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}

.deal {
  flex: 0 1 25%;
  border: 1px dotted rgb(128, 77, 0);

}

footer {
  height: 280px;
  display: flex;
  flex-direction: column;
}

.social {
  flex: 0 1 60%;
  border: 1px dotted purple;
}

.copyright {
  flex: 0 1 40%;
  border: 1px dotted rgb(0, 128, 0);
}
